import(Rcpp)
import(shiny)
import(lpSolve)
import(shinyWidgets)
import(splatter)
import(SingleCellExperiment)
import(DropletUtils)
import(Seurat)
import(scater)
import(igraph)
import(ggplot2)
import(ggnetwork)
import(plotly)
import(DescTools)
import(dplyr)
import(Matrix)
export(load_TREK)
